body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    background-color: $background-color;
}

#container {
  min-height: 595px;
  background-color: $background-color-light;
}

.inner {
  width: 620px;
  margin: 0 auto;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
}

header h1 {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
  font-size: 48px; font-weight: 900;
  line-height: 1.2;
  color: #303030;
  letter-spacing: -1px;
}

header h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  color: #aaa;
  letter-spacing: -1px;
}

#downloads {
  margin-bottom: 40px;
}
